* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Style the body */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menuDropdown {
    text-align: right !important;
}


/* Style the top navigation bar */

.bg-light {
    background-color: #eea111 !important;
    display: flex;
}

.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    /* padding-left: 750px; */
}


/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    font-weight: 700;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 700;
    font-size: inherit;
}


/* Right-aligned link */

li.dropdown.nav-item {
    background-color: #e69318;
    margin: 0;
    padding: 0;
}

.container-user-list-1 {
    width: 100%;
}

.dropdown-toggle.nav-link {
    margin: 0;
    padding: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 400px;
    border-radius: 11px;
}

.col-md-4 label {
    font-size: 13px;
}

.modal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #eff1f5;
    height: 50px;
}

.btn--cl {
    border: 1px solid #b6bbbf;
    border-radius: 5px;
    width: 60px;
    height: 34px;
    font-weight: 400;
    color: #7f868d;
    background-color: #ffffff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-footer {
    height: 47px;
}